.app {
  text-align: center;
  margin-top: 40px;
  font-family: "Arial", sans-serif;
}

.search input {
  padding: 10px;
  width: 250px;
  border: 1px solid #bbb;
}

.search button {
  padding: 10px 20px;
  margin-left: 10px;
  background-color: #000000;
  color: white;
  border: none;
}


.weatherinfo {
  width: 320px;
  margin: 20px auto;
  padding: 20px;
  background: beige;
  text-align: center;
}

.weatherinfo img {
  width: 100px;
}

.weatherinfo h1 {
  margin: 10px 0;
  font-size: 48px;
  color: #333;
}

.weatherinfo h2 {
  font-size: 22px;
  margin-bottom: 10px;
}

.description {
  font-size: 18px;
  text-transform: capitalize;
  margin-bottom: 15px;
}

.info {
  text-align: left;
  margin-top: 15px;
  font-size: 15px;
}

.info p {
  margin: 4px 0;
}
